.header-cont{
    
    border-bottom: 2px solid #cccccc; 
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0px;
    
}

.header-size{
    max-width: 960px;
    margin: 0px auto;
}

.logo{
    background-color: #4aaaa5;
    color: white;
    float: left;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 14px 16px;
    margin: 0;
}
.header-right{
    float: right;
    margin-top: 15px;
}
.header-right a{
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    padding: 12px;
    margin: 6px;
}

  

.content-title{
    border-bottom: 2px solid #cccccc; 
    color:#4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

section{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    max-width: 920px;
    margin: 0px auto;
    margin-top: 80px;
    padding: 20px;

}

img{
    width: 230px;
    height: 300px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

body{
    background-image: url("../images/dust_scratches.png");

}

footer{
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
    
}

.copyright{
    color: #b3bcbd;
    position: absolute;
    font-size: small;
    text-align: center;
    bottom: 0;
    width: 100%;
}