.header-cont{
    
    border-bottom: 2px solid #cccccc; 
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    
}

.header-size{
    max-width: 960px;
    margin: 0px auto;
}

.logo{
    background-color: #4aaaa5;
    color: white;
    float: left;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
}
.header-right{
    float: right;
    margin-top: 20px;
}
.header-right a{
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

a:not(:last-child) { 
    border-right:solid .5px #cccccc;
    
}
  

.content-title{
    border-bottom: 2px solid #cccccc; 
    color:#4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

section{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    max-width: 920px;
    margin: 0px auto;
    margin-top: 80px;
    padding: 19px;

}

.profile-image{
    width: 230px;
    height: 300px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.content-font{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

body{
    background-image: url("../images/dust_scratches.png");

}

footer{
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
    
}

.copyright{
    color: #b3bcbd;
    position: absolute;
    font-size: small;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.input-fields{
    width: -webkit-fill-available;
    height: 20px;
    color: gray;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    padding-left: 10px;
}

textarea{
    width: -webkit-fill-available;
    border: 1px solid #dddddd;
    height: 100px;
}
form {
    display: block;
    margin-top: 20px;
}

label{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    display: inline-block;
    padding-bottom: 5px;
}

.submit-button{
    background-color: #4aaaa5;
    color: white;
    padding: 8px 20px 8px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;

}

.container{
    position: relative;
    float: left;
    margin-right: 40px;
    margin-top: 40px;
}

.project-img{
    width: 300px;
    height: 240px;
}

.project-title{
    position: absolute;
    top: 70%;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 60px;
  }
